@using GoodGameDatabase.Web.ViewModels.Guide;
@model IEnumerable<AllGuideViewModel>

@{
    ViewData["Title"] = "All guides";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        @if (Model.Any())
        {
            <div class="row">
                @foreach (var entity in Model)
                {
                    <partial name="_GuidePartial" model="entity"/>
                }
            </div>
        }
        else
        {
            <p>There are no games available.</p>
        }
    </div>
</body>
</html>
