@{
    ViewData["Title"] = "Home Page";
}

@*asd MAIN CENTER*@
<div class="flex w-8/12 flex-col border-5 border-black">

    @*MAIN INSIDE*@
    <div class="w-full h-full border-5 border-yellow-600">

        @*BEST GAME FAR CRY 6*@
        <div class="w-full h-4/6 border-5 border-green-600">


                
            <img class="flex object-cover object-center w-full h-full rounded-3xl" src="https://cdn.cloudflare.steamstatic.com/steam/apps/2369390/capsule_616x353.jpg?t=1690498134"
                 alt="ui/ux review check" />
        </div>

        @*UNDER BEST GAME*@
        <div class="w-full h-2/6 border-5 border-pink-700">
        </div>
    </div>


</div>

@*asd RIGHT SIDE*@
<div class="flex flex-col w-4/12 border-5 border-black">
    
    @*BEST GAMES BOX --- GREEN*@
    <div class="w-full h-4/6 border-5 border-green-700">

        @*FOREACH BEST GAME --- PINK*@
        <div class="flex h-1/4 flex-row border-5 border-pink-500">

            @*LEFT PART (IMAGE)*@
            <div class="w-4/12 border-5 border-yellow-500">
                <img class="w-full" src="https://cdn.cloudflare.steamstatic.com/steam/apps/367520/capsule_616x353.jpg?t=1667006028" />
            </div>


            @*RIGHT PART (INFO)*@
            <div class="flex flex-col w-8/12">
                <div class="border-5 h-1/3 border-black">Edition</div>
                <div class="border-5 h-1/3 border-black">Sale</div>
                <div class="border-5 h-1/3 border-black">Name of the game</div>
            </div>
        </div>
        <div class="flex h-1/4 flex-row border-5 border-pink-500">

            @*LEFT PART (IMAGE)*@
            <div class="w-4/12 border-5 border-yellow-500">
                <img class="w-full" src="https://cdn.cloudflare.steamstatic.com/steam/apps/367520/capsule_616x353.jpg?t=1667006028" />
            </div>


            @*RIGHT PART (INFO)*@
            <div class="flex flex-col w-8/12">
                <div class="border-5 h-1/3 border-black">Edition</div>
                <div class="border-5 h-1/3 border-black">Sale</div>
                <div class="border-5 h-1/3 border-black">Name of the game</div>
            </div>
        </div>
        <div class="flex h-1/4 flex-row border-5 border-pink-500">

            @*LEFT PART (IMAGE)*@
            <div class="w-4/12 border-5 border-yellow-500">
                <img class="w-full" src="https://cdn.cloudflare.steamstatic.com/steam/apps/367520/capsule_616x353.jpg?t=1667006028" />
            </div>


            @*RIGHT PART (INFO)*@
            <div class="flex flex-col w-8/12">
                <div class="border-5 h-1/3 border-black">Edition</div>
                <div class="border-5 h-1/3 border-black">Sale</div>
                <div class="border-5 h-1/3 border-black">Name of the game</div>
            </div>
        </div>
        <div class="flex h-1/4 flex-row border-5 border-pink-500">

            @*LEFT PART (IMAGE)*@
            <div class="w-4/12 border-5 border-yellow-500">
                <img class="w-full" src="https://cdn.cloudflare.steamstatic.com/steam/apps/367520/capsule_616x353.jpg?t=1667006028" />
            </div>


            @*RIGHT PART (INFO)*@
            <div class="flex flex-col w-8/12">
                <div class="border-5 h-1/3 border-black">Edition</div>
                <div class="border-5 h-1/3 border-black">Sale</div>
                <div class="border-5 h-1/3 border-black">Name of the game</div>
            </div>
        </div>
    </div>

    
</div>


@*     https://image.api.playstation.com/vulcan/img/rnd/202106/1514/xqoTYwf0S55ro6fwcIIY1KI4.png*@