@using GoodGameDatabase.Web.ViewModels.Game;
@model PagedGameViewModel

@{
    ViewData["Title"] = "All games";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        @if (Model.Games.Any())
    {
        <div class="grid grid-cols-4 gap-4 ml-6">
            @foreach (var game in Model.Games)
            {
                <partial name="_GamePartial" model="@game" />
            }
        </div>

        <partial name="_PaginationPartial" model="@Model"/>
    }
    else
    {
        <p>There are no books available.</p>
    }
    </div>
</body>
</html>