@model Game

<form class="flex flex-col">
    <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
        <div>
            <label for="Name" class="text-gray-700 dark:text-gray-200">Name</label>
            <input name="Name" type="text" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" />
        </div>

        <div>
            <label for="Description" class="text-gray-700 dark:text-gray-200">Description</label>
            <input name="Description" type="text" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" />
        </div>

        <div>
            <label for="Version" class="text-gray-700 dark:text-gray-200">Version</label>
            <input name="Version" type="text" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" />
        </div>

        <div>
            <label for="AgeRestriction" class="text-gray-700 dark:text-gray-200">AgeRestriction</label>
            <input name="AgeRestriction" type="text" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" />
        </div>
        <div>
            <label for="Status" class="text-gray-700 dark:text-gray-200">Status</label>
            <input name="Status" type="text" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" />
        </div>

        <div>
            <label for="ImageUrl" class="text-gray-700 dark:text-gray-200">Image Url</label>
            <input name="ImageUrl" type="text" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" />
        </div>

        <div>
            <label for="SupportsPC" class="text-gray-700 dark:text-gray-200">
                Supports PC
                <input name="SupportsPC" type="checkbox" value="true" />
            </label>

            <label for="SupportsPS" class="text-gray-700 dark:text-gray-200">
                Supports PS
                <input name="SupportsPS" type="checkbox" value="true" />
            </label>
            <label for="SupportsXbox" class="text-gray-700 dark:text-gray-200">
                SupportsMac Xbox
                <input name="SupportsXbox" type="checkbox" value="true" />
            </label>
            <label for="SupportsNintendo" class="text-gray-700 dark:text-gray-200">
                Supports Nintendo
                <input name="SupportsNintendo" type="checkbox" value="true" />
            </label>
        </div>
    </div>

    <div class="flex justify-end mt-6">
        <button type="submit" asp-controller="Game" asp-action="Create" class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600">
            Submit
        </button>
    </div>
</form>