@using GoodGameDatabase.Web.ViewModels.Game;
@model IEnumerable<AllGameViewModel>

@{
    ViewData["Title"] = "Liked games";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        @if (Model.Any())
        {
            <div class="grid grid-cols-4 gap-4 ml-6">
                @foreach (var game in Model)
                {
                    <partial name="_GamePartial" model="@game" />
                }
            </div>
        }
        else
        {
            <p>There are no books available.</p>
        }
    </div>
</body>
</html>