@using GoodGameDatabase.Web.ViewModels.Discussion;
@model IEnumerable<AllDiscussionViewModel>

@{
    ViewData["Title"] = "All discussions";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
    @if (Model.Any())
    {
            <div class="grid grid-cols-4 gap-4 ml-6">
            @foreach (var entity in Model)
            {
                <partial name="_DiscussionPartial" model="entity"/>
            }
        </div>
    }
    else
    {
        <p>There are no Discussions available.</p>
    }
    </div>
</body>
</html>
